<!DOCTYPE html>
<html lang="en">
<%- include('components/head') %>
<body class="align-items-center">

    <!-- Register Form -->
    <main class="container d-flex justify-content-center mb-5">
      <div class="login-container">
        <div class="login-header text-center mb-4">
          <h2>📝 Daftar Akun Baru</h2>
          <p class="text-muted small">Buat akun Anda untuk mulai menggunakan Hole Vision.</p>
        </div>
        <form action="/api/register" method="post">
          <div class="mb-3">
            <label for="nama" class="form-label">Nama Lengkap</label>
            <input type="text" name="name" class="form-control" placeholder="Nama Anda" required value="<%= name %>" />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" placeholder="email@example.com" required value="<%= email %>"/>
          </div>
          <div class="mb-3">
            <label for="telepon" class="form-label">No. Telepon</label>
            <input type="text" name="phone" class="form-control" placeholder="+62..." required value="<%= phone %>" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label" >Password</label>
            <input
              type="password"
              name="password"
              placeholder="Password" 
              class="form-control <%= error && error.length > 0 ? 'is-invalid' : '' %>"
              value="<%= password %>"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Ulangi Password</label>
            <input
              type="password"
              name="confirm_password"
              class="form-control <%= error && error.length > 0 ? 'is-invalid' : '' %>"
              placeholder="Ulangi Password"
              value="<%= confirm_password %>"
              required
            />
            <% if (error && error.length > 0) { %>
              <div class="invalid-feedback">
                <%= error[0] %>
              </div>
            <% } %>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Daftar</button>
            <a href="/login" class="btn btn-outline-secondary">Sudah punya akun? Login</a>
          </div>
        </form>
      </div>
    </main>
  
    <!-- Footer -->
    <footer class="text-center text-muted py-4 bg-white w-100 shadow-sm">
      &copy; 2025 Hole Vision. All rights reserved.
    </footer>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/main.js"></script>
  </body>
  </html>