<!DOCTYPE html>
<html lang="id">
<%- include('components/head') %>
<body class="align-items-center">

  <main class="container d-flex justify-content-center mb-5">
    <div class="login-container">
      <div class="login-header text-center mb-4">
        <h2>🔁 Reset Password</h2>
      </div>
      <form action="/api/public/change-password" method="post">
        <div class="mb-3">
          <label for="identifier" class="form-label">Email</label>
          <input type="text" name="email" id="identifier" class="form-control" readonly value="<%= user.email %>"/>
          <input type="hidden" name="user_id" value="<%= user.user_id %>"/>
          <input type="hidden" name="token" value="<%= token %>">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" value="<%= password %>"/>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" value="<%= confirm_password %>" class="form-control <%= error && error.length > 0 ? 'is-invalid' : '' %>" />
            <% if (error && error.length > 0) { %>
              <div class="invalid-feedback">
                <%= error[0] %>
              </div>
            <% } %>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-warning">Reset Password</button>
        </div>
      </form>
    </div>
  </main>

  <!-- Footer -->
  <footer class="text-center text-muted py-4 bg-white w-100 shadow-sm">
    &copy; 2025 Hole Vision. All rights reserved.
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/main.js"></script>
</body>
</html>